body {
  background-color: rgb(255, 255, 255);
}

#icon__uninassau {
  width: 200px;
}
#icon__etepam {
  width: 200px;
}
#icon__alura {
  width: 200px;
}
.imagemteste {
  filter: invert(100%);
}

.imagemteste:hover{
    filter: invert(17%) sepia(91%) saturate(7464%) hue-rotate(320deg) brightness(96%) contrast(110%);

}