/* IMPORTACOES */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&display=swap");

/* VARIAVEIS */
:root {
  --base-dark: black;
  --base-light: #fbe5e5;
  --hover-color: #ff0082;
  --font-tittle: "Playwrite DE Grund", cursive;
  --font-text: "Nunito", sans-serif;
}

/* GERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 128px;
  padding-top: 3%;
  background-color: var(--base-light);
  gap: 16px;
  transition: .5s;
}

/* CABECALHO */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo h1 {
  white-space: nowrap;
  text-align: center;
}

/* NAVBAR */
.navbar {
  width: 60%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* DARK - LIGHT MODE */
.trilho {
  width: 64px;
  height: 32px;
  border-radius: 32px;
  background-color: var(--base-dark);
  position: relative;
  cursor: pointer;
}
.trilho .indicador {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: var(--base-light);
  position: absolute;
  left: 0;
  transition: .5s;
}
.indicador:hover {
  background-color: var(--hover-color);
}
.trilho.dark .indicador {
  left: 32px;
  background-color: var(--base-dark);
}
.trilho.dark{
  background-color: var(--base-light);
}
body.dark{
  background-color: var(--base-dark);
}

#icon__uninassau {
  width: 200px;
}
#icon__etepam {
  width: 200px;
}
#icon__alura {
  width: 200px;
}
.imagemteste {
  filter: invert(100%);
}

.imagemteste:hover {
  filter: invert(17%) sepia(91%) saturate(7464%) hue-rotate(320deg)
    brightness(96%) contrast(110%);
}
