/* DARK - LIGHT MODE */
.trilho {
    width: 64px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--base-dark);
    position: relative;
    cursor: pointer;
  }
  .trilho .indicador {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: var(--base-light);
    position: absolute;
    left: 0;
    transition: .5s;
  }
  .indicador:hover {
    background-color: var(--hover-color);
  }
  .trilho.dark .indicador:hover {
    background-color: var(--hover-color);
  }
  .trilho.dark .indicador {
    left: 32px;
    background-color: var(--base-dark);
  }
  .trilho.dark{
    background-color: var(--base-light);
  }
  body.dark{
    background-color: var(--base-dark);
  }