/* DARK - LIGHT MODE */
.trilho {
    width: 48px;
    height: 24px;
    border-radius: 32px;
    background-color: var(--base-dark);
    position: relative;
    cursor: pointer;
  }
  .trilho .indicador {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: var(--base-light);
    position: absolute;
    left: 0;
    transition: .5s;
  }
  .indicador:hover {
    background-color: var(--hover-color);
  }
  .trilho.dark .indicador:hover {
    background-color: var(--hover-color);
  }
  .trilho.dark .indicador {
    left: 24px;
    background-color: var(--base-dark);
  }
  .trilho.dark{
    background-color: var(--base-light);
  }
  body.dark{
    background-color: var(--base-dark);
  }

  /* Dark mode, header */
  .logo.dark {
    color: var(--base-light);
  }
  .logo_h1.dark{
    color: var(--base-light);
  }
  .iconImg.dark {
    filter: invert(100%);
  }