/* PÁGINA DE ESTILIZAÇÃO DO FLEXBOX */
body {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

/* CABECALHO */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* NAVBAR */
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 96px;
  width: 80%;
}

.cta__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.linksContatos ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.linksContatos ul li a{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

/* SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

/* SKILLS E HOBBIES */
.skills__hobbies__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;
}

.skillHobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.skillHobbies__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.skillHobbies__cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* FORMACAO */
.formacaoAcademica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.formacaoAcademica__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formacaoAcademica__cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* PROJETO */
.projeto_exemplo {
  display: flex;
  flex-direction: column;
  gap: 124px;
}

.projeto {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.descricaoDoProjeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.botoes__links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.titulo__sobre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.titulo__sobre__reverse {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.botoes__links a{
 align-content: center;
 justify-items: center;
}

.reverseProjeto {
  flex-direction: row-reverse;
}

.descricaoDoProjeto__reverse {
  align-items: flex-end;
}

.botoes__links__reverse {
  justify-content: flex-end;
}

/*CONTATO*/
.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}