/* IMPORTACOES */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&display=swap");

/* VARIAVEIS */
:root {
  --base-dark: black;
  --base-light: #fbe5e5;
  --hover-color: #ff0082;
  --font-tittle: "Playwrite DE Grund", cursive;
  --font-text: "Nunito", sans-serif;
}

/* GERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 144px;
  padding-top: 3%;
  background-color: var(--base-light);
  transition: 0.5s;
}

/* LOGO */
.logo img {
  width: 24px;
}

.logo h1 {
  white-space: nowrap;
  text-align: center;
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
}

/* NAVBAR */
.navbar {
  width: 60%;
}

.navbar ul {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
}

/* HERO */

.cta__texto h1{
  font-family: var(--font-tittle);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--base-dark);
}
.cta__texto p{
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--base-dark);
}

.heroImagem {
  width: 448px;
}




.icon__linksContatos {
  width: 32px;
}
.icon__linksContatos:hover {
  filter: invert(17%) sepia(91%) saturate(7464%) hue-rotate(320deg)
    brightness(96%) contrast(110%);
}
#perfil {
  width: 448px;
}
#icon__uninassau {
  width: 200px;
}
#icon__etepam {
  width: 200px;
}
#icon__alura {
  width: 200px;
}
.imagemteste {
  filter: invert(100%);
}

.imagemteste:hover {
  filter: invert(17%) sepia(91%) saturate(7464%) hue-rotate(320deg)
    brightness(96%) contrast(110%);
}
