/* IMPORTACOES */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&display=swap");

/* VARIAVEIS */
:root {
  --base-dark: black;
  --base-light: #fbe5e5;
  --base-lesslight: #fcdcec;
  --hover-color: #ff0082;
  --font-tittle: "Playwrite DE Grund", cursive;
  --font-text: "Nunito", sans-serif;
}

/* GERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 144px;
  padding-top: 3%;
  background-color: var(--base-light);
  transition: 0.5s;
}

/* LOGO */
.logo img {
  width: 24px;
}

.logo h1 {
  white-space: nowrap;
  text-align: center;
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
}

/* NAVBAR */
.navbar {
  width: 70%;
}

.navbar ul {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 2px;
}

/* HERO */

.cta__texto h1 {
  font-family: var(--font-tittle);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--base-dark);
  letter-spacing: 2px;
}
.cta__texto p {
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--base-dark);
  letter-spacing: 2px;
}

.linksContatos ul {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 2px;
}
.linksContatos ul li a:hover {
  color: var(--hover-color);
}

.linksContatos img {
  width: 24px;
}
.heroImagem {
  width: 448px;
}

/* SOBRE MIM */
.sobre {
  width: 100%;
}
.sobre h1 {
  font-family: var(--font-tittle);
  font-size: 40px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 2px;
  text-align: center;
}
.sobre p {
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark);
  line-height: 1.3em;
  letter-spacing: 2px;
  text-align: center;
}

/* SKILLS E HOBBIES */
.skills__hobbies__section {
  width: 100%;
}
.skillHobbies {
  width: 100%;
}
.skillHobbies__titulo h1 {
  font-family: var(--font-tittle);
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 3px;
}
.skillHobbies__cards {
  width: 100%;
}
.skillHobbies__cards div {
  background-color: var(--base-light);
  border: solid 1px var(--base-dark);
  border-radius: 8px;
  width: 152px;
  height: 152px;
}
.skillHobbies__cards div h2 {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 3px;
  text-align: center;
}
.icon__hard {
  width: 48px;
}
.icon__soft {
  width: 56px;
}
.icon__hobbies {
  width: 48px;
}

/* FORMACAO */

#icon__uninassau {
  width: 200px;
}
#icon__etepam {
  width: 200px;
}
#icon__alura {
  width: 200px;
}
.imagemteste {
  filter: invert(100%);
}

.imagemteste:hover {
  filter: invert(17%) sepia(91%) saturate(7464%) hue-rotate(320deg)
    brightness(96%) contrast(110%);
}
